<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      section {
        width: 80%;
        height: 200px;
        border: 1px solid #ccc;
        margin: 15px auto;
      }
      a {
        display: inline-block;
        width: 200px;
        height: 150px;
        margin: 20px;
        border: 1px solid #ccc;
        overflow: hidden;
      }
      a img {
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
      }
      a:hover img {
        transform: scale(1.2);
      }
    </style>
  </head>
  <body>
    <section>
      <a href="#"><img src="pic.jpg" alt="" /></a>
      <a href="#"><img src="student.jpg" alt="" /></a>
    </section>
  </body>
</html>
